body { margin: 0; }

canvas { 
    display: block; 
}

#ui-container { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
}

.btn-group {
    margin-top: 10px;
}

button { 
    margin-top: 10px; 
}

#compassContainer {
    /* position: absolute; */
    top: 80px;
    right: 120px;
    width: 10vw; /* Use viewport width units for responsiveness */
    height: 10vw; /* Maintain aspect ratio */
    max-width: 100px; /* Optional: set maximum size */
    max-height: 100px; /* Optional: set maximum size */
    pointer-events: none; /* Makes sure compass doesn't interfere with mouse events */
}

svg {
    transform-origin: center center;
  }